.form-grid4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.form-grid3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.full-width-field {
    width: 100%;
    margin-top: 10px;
}

.full-width {
    width: 100%;
}