<h1>Registrar Acte de Inicio</h1>
<form [formGroup]="form">
    <div class="form-grid4">
        <mat-form-field>
            <mat-label>Vigencia</mat-label>
            <mat-select formControlName="vigencia">
                <!-- Opciones de ejemplo -->
                <mat-option [value]="'2023'">2023</mat-option>
                <mat-option [value]="'2024'">2024</mat-option>
            </mat-select>
        </mat-form-field>
        
        <mat-form-field>
            <mat-label>Consecutivo Contrato</mat-label>
            <mat-select formControlName="consecutivoContrato">
                <!-- Opciones de ejemplo -->
                <mat-option [value]="'CON-001'">CON-001</mat-option>
                <mat-option [value]="'CON-002'">CON-002</mat-option>
            </mat-select>
        </mat-form-field>
        
        <mat-form-field>
            <mat-label>Fecha Suscripción</mat-label>
            <input matInput [matDatepicker]="pickerSuscripcion" formControlName="fechaSuscripcion">
            <mat-datepicker-toggle matIconSuffix [for]="pickerSuscripcion"></mat-datepicker-toggle>
            <mat-datepicker #pickerSuscripcion></mat-datepicker>
        </mat-form-field>
    </div>
    <div class="border">
        <h3>Contrato</h3>
        <div class="form-grid4">
            <mat-form-field>
                <mat-label>Tipo Documento</mat-label>
                <mat-select formControlName="tipoDocumento">
                    <!--<mat-option *ngFor="let  of " [value]=".Id">
                        {{.Nombre}}
                    </mat-option>-->
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Número Documento</mat-label>
                <input matInput formControlName="numeroDocumento">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Nombre Contratista</mat-label>
                <input matInput formControlName="nombreContratista">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Valor Contrato</mat-label>
                <input matInput formControlName="valorContrato">
            </mat-form-field>
        </div>
        <mat-form-field class="full-width">
            <mat-label>Supervisor</mat-label>
            <input matInput formControlName="supervisor">
        </mat-form-field>
        <h3>Objeto</h3>
        <mat-form-field appearance="fill" class="full-width">
            <textarea matInput formControlName="objeto" rows="3"
                placeholder="Descripción Objeto de Contrato"></textarea>
        </mat-form-field>
        <h3>Póliza</h3>
        <div class="form-grid3">
            <mat-form-field>
                <mat-label>Número de Póliza</mat-label>
                <input matInput formControlName="numeroPoliza">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Fecha de Expedición</mat-label>
                <input matInput [matDatepicker]="pickerExpedicion" formControlName="fechaExpedicion">
                <mat-datepicker-toggle matIconSuffix [for]="pickerExpedicion"></mat-datepicker-toggle>
                <mat-datepicker #pickerExpedicion></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Fecha de Aprobación</mat-label>
                <input matInput [matDatepicker]="pickerAprobacionPoliza" formControlName="fechaAprobacionPoliza">
                <mat-datepicker-toggle matIconSuffix [for]="pickerAprobacionPoliza"></mat-datepicker-toggle>
                <mat-datepicker #pickerAprobacionPoliza></mat-datepicker>
            </mat-form-field>
        </div>
        <h3>Registro Presupuestal</h3>
        <div class="form-grid3">
            <mat-form-field>
                <mat-label>Número Registro Presupuestal</mat-label>
                <input matInput formControlName="numeroRegistroPresupuestal">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Valor Registro Presupuestal</mat-label>
                <input matInput formControlName="valorRegistroPresupuestal">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Fecha de Aprobación</mat-label>
                <input matInput [matDatepicker]="pickerAprobacionRP" formControlName="fechaAprobacionRP">
                <mat-datepicker-toggle matIconSuffix [for]="pickerAprobacionRP"></mat-datepicker-toggle>
                <mat-datepicker #pickerAprobacionRP></mat-datepicker>
            </mat-form-field>
        </div>
        <h3>Acta de Inicio</h3>
        <div class="form-grid3">
            <mat-form-field>
                <mat-label>Plazo</mat-label>
                <input matInput formControlName="plazo">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Fecha de Inicio</mat-label>
                <input matInput [matDatepicker]="pickerInicio" formControlName="fechaInicio">
                <mat-datepicker-toggle matIconSuffix [for]="pickerInicio"></mat-datepicker-toggle>
                <mat-datepicker #pickerInicio></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Fecha de Terminación</mat-label>
                <input matInput [matDatepicker]="pickerTerminacion" formControlName="fechaTerminacion">
                <mat-datepicker-toggle matIconSuffix [for]="pickerTerminacion"></mat-datepicker-toggle>
                <mat-datepicker #pickerTerminacion></mat-datepicker>
            </mat-form-field>
        </div>
    </div>
    <button mat-raised-button color="primary" (click)="registrarActaInicio()" style="margin-top: 20px;">
        Registrar Acta
    </button>
</form>